        <!doctype html>
        <html lang="en">
        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/finalresumestyle.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

            <title>Final Resume</title>
        </head>
        <body>
        
<div id="imageDiv" >   <img id="imgDiv" src="img/dp.jpg" alt="">  </div>

        <h1 id="name"> {{ firstName}} {{lastName}}</h1>


        <pre><b>Phone</b> {{  phone}}               <b> Email</b>   {{ email }}       </pre>
<h3>Social Profiles</h3>
<pre>                          <a href="{{facebook}}" style="text-decoration:none"><b>Facebook</b></a>         <a href=" {{linkedin}}" style="text-decoration:none"><b> LinkedIn</b> </a>             <a href=" {{github}}" style="text-decoration:none"><b> GitHub</b> </a>
</pre>  
        <hr>
        <h3>Technical Skills</h3>
        <p>{{  techSkills}}  </p>

        <hr>
        <h3>Soft Skills</h3>
        <p>{{softSkills}}  </p> 





        <div id="educationDiv">  
            
            <h2>Education</h2>
        

        <div id="education1">

        <h5>{{  degree1}}  </h5>
        <ul>
            <li> <b>Institution:</b> {{ institution1 }}  </li>
            <li> <b>CGPA/Grade:</b> {{  grade1}}  </li>
            <li> <b>Batch:</b> {{ batch1}}  </li>
                <li> <b>Specialization:</b> {{AOS1}}  </li>
                <li><b>Achievements:</b> {{ achievement1 }}  </li>
        </ul>

        </div>


        <div id="education2"> 

        <h5>{{degree2}}</h5>
        <ul>
            <li> <b>Institution:&nbsp;</b>   {{institution2 }}</li>
            <li> <b>CGPA/Grade:</b>  {{  grade2}}</li>
            <li> <b>Batch:</b> {{ grade2}}  </li>
                <li> <b>Specialization:</b> Python {{  AOS2}}</li>
                <li><b>Achievements:</b> {{  achievement2}} </li>
        </ul>
                    </div>

            </div>

<hr>

        <div id="experienceDiv">

        <h1>Work Experience</h1>

            <div id="experience1"> 
                <h5>  {{ organization1 }}</h5>
        <ul>
        <li> <b>Worked as:</b> {{ role1 }}</li>
            <li> <b>From</b> {{  jobstart1}}  <b>  To </b>  {{ jobend1 }}</li>
                <li> <b>Job Type: </b> {{ jobtype1 }}</li>
                <li><b>Details: </b>  {{ jobdetails1 }}</li>
        </ul>

        </div>


        <div id="experience2"> 

        <h5>{{ organization2 }}</h5>
           <ul>
        <li> <b>Worked as:</b> {{ role2}}</li>
            <li> <b>From</b> {{  jobstart2}} <b> To  </b>  {{ jobend2 }}</li>
                <li> <b>Job Type: </b> {{ jobtype2 }}</li>
                <li><b>Details: </b>  {{ jobdetails2 }}</li>
        </ul>
        </div>

        </div>


        <hr>


        <div id="certificationsDiv">
        <h1>Certifications </h1>
            <div id="certificate1"> 
        <h5>  {{certificatenameorganization1  }}</h5>
        <ul>
        <li> <b>Awarded By: </b>  {{ certificatawardby1 }}</li>
            <li> <b>Issue Date: </b>    {{ certificateissuedate1 }} </li>
                <li> <b>URL: </b> {{ certificateURL1 }}</li>
                <li><b>Learning Outcomes: </b> {{ certificatedescription1 }}  </li>
                <li><b>Grade: </b>   {{certificategrade1  }}</li>
        </ul>

        </div>


        <div id="certificate2"> 

        <h5>{{certificatenameorganization2 }}</h5>
        <ul>
        <li> <b>Awarded By: </b>  {{ certificatawardby2 }}</li>
            <li> <b>Issue Date: </b>    {{ certificateissuedate2 }} </li>
                <li> <b>URL: </b> {{ certificateURL2}}</li>
                <li><b>Learning Outcomes: </b> {{ certificatedescription2}}  </li>
                <li><b>Grade: </b>   {{certificategrade2 }}</li>
        </ul>
        </div>

        </div>




            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        
        </body>
        </html>